// Header
// $body-tertiary-bg: #5e009c;
$navbar-padding-y: 1.2rem;
$navbar-padding-x: 1.2rem;
$navbar-brand-font-size: 1.7rem;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';