NEXT_PUBLIC_EMAIL=example@example.com
NEXT_PUBLIC_PHONE=0612345678
NEXT_PUBLIC_SITE_URL=https://somesite.com
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=

ADMIN_SECRET=admin_secret_here

SMTP_HOST=some.smtphost.com
SMTP_PORT=25
SMTP_SECURE=false
SMTP_REQUIRE_TLS=true