<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/assets/css/main.min.css"/>
        <link rel="stylesheet" href="/assets/css/styles.css"/>
    </head>
    <body>
        <header class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/assets/img/full_logo.png" alt="Bootstrap" width="60" height="54">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <% locals.links.forEach(link => { %>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= link.url %>"><%= link.name %></a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </header>
        <main class="container mx-auto pt-4">    
            <h1 class="text-center">Contact</h1>
            <form method="POST" action="/contact/" class="contact-form">
                <div class="form-group">
                    <label for="formNameField">Uw naam</label>
                    <input type="text" class="form-control" id="formNameField" placeholder="John Doe" name="name">
                </div>
                <div class="form-group">
                    <label for="formEmailField">Uw Email adres</label>
                    <input type="email" class="form-control" id="formEmailField" placeholder="example@example.com" name="email">
                </div>
                <div class="form-group">
                    <label for="formMessageArea">Uw bericht</label>
                    <textarea class="form-control" id="formMessageArea" rows="6" name="message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Verzend</button>
                </div>
                <% if (typeof success !== 'undefined' && success) { %>
                    <div class="alert alert-success" role="alert">
                        Uw bericht is verzonden, ik neem zo snel mogelijk contact met u op!
                    </div>
                <% } %>
            </form>
        </main>
        <script src="/assets/js/contact.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>
