<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/main.min.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
    <header class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/full_logo.png" alt="Bootstrap" width="60" height="54">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <% locals.links.forEach(link => { %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= link.url %>"><%= link.name %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </header>
    <main class="container mx-auto px-0">
        <div class="row py-5">
            <div class="col text-start">
                <h1>Welkom op Prowser!</h1>
                <p class="my-4">Ea in in occaecat enim aliquip consectetur enim sit consequat amet. Fugiat magna laborum amet elit
                    laboris. Sunt et eu occaecat mollit eiusmod magna sint qui Lorem et magna magna. Commodo magna
                    pariatur culpa est laborum qui incididunt dolore id veniam minim veniam fugiat do. Dolor
                    reprehenderit et occaecat consectetur velit laboris. Amet dolor nostrud dolor eiusmod. Sit
                    consectetur ipsum aliqua voluptate velit labore in.</p>
                <a class="btn btn-primary" href="/projecten">Bekijk projecten</a>
            </div>
            <div class="col text-end" id="statistics">
                <div class="stat-parent">
                    <div class="stat-count">
                        <span class="counter">8</span>
                        <span class="plus">+</span>
                    </div>
                    <p class="stat-description">Jaar ervaring</p>
                </div>
                <div class="stat-parent">
                    <div class="stat-count">
                        <span class="counter">5</span>
                        <span class="plus">+</span>
                    </div>
                    <p class="stat-description">Talen geprogrammeerd</p>
                </div>
                <div class="stat-parent">
                    <div class="stat-count">
                        <span class="counter">150</span>
                        <span class="plus">+</span>
                    </div>
                    <p class="stat-description">Projecten gemaakt</p>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <h2 class="text-center my-3">Recente projecten</h2>
            <div id="home-carousel" class="carousel carousel-dark slide" data-bs-ride="false">
                <div class="carousel-indicators" id="carousel-indicators">
                    <!-- Indicators will be added dynamically here -->
                </div>
                <div class="carousel-inner">
                    <!-- Carousel items will be added dynamically here -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#home-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </main>
    <script src="/assets/js/utils.js"></script>
    <script src="/assets/js/home_carousel.js"></script>
    <script src="/assets/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>