.navbar-nav .nav-link {
    font-size: 1.3rem;
    margin-right: 2rem;
}

.icon-link {
    text-decoration: none;
    color: inherit;
}

a {
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out !important;
}

.projectCard {
    width: 20rem;
}

.tech {
    text-decoration: none;
}

.tech-list {
    gap: 0.5rem;
}

footer div div ul {
    list-style-type: none;
    padding-left: 0;
}

.homepage div:not([class*="card"]) {
    margin-bottom: 2rem;
}

.btn.big-btn {
    transition: 
        transform .2s ease-in-out,
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out 
        !important;

    padding: .6rem 1rem;
}

.btn.big-btn:hover {
    transform: scale(1.025);
}

.scroll-wrapper {
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}

.scroll-track {
    display: flex;
    align-items: center;
    animation: scroll-left 35s linear infinite;
}

.scroll-track img {
    height: 120px;     /* <-- required so height doesn't collapse */
    width: auto;
    margin-right: 30px;
    flex-shrink: 0;    /* <-- prevents shrinking/overlapping */
}

.scroll-track img.img-fluid {
    max-width: none !important;
}


@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}