<%- include('../includes/header.ejs') %>
<div class="container mt-4">
    <h1 class="text-center display-5">Contact</h1>
    <form action="/contact" method="post" class="mx-auto my-4 contact-form">
        <div class="mb-3">
            <label for="name" class="form-label">Naam</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Bericht</label>
            <textarea class="form-control" id="message" name="message" rows="7" required></textarea>
        </div>
        <div class="cf-turnstile" data-sitekey="<%= site_key %>"></div>
        <div class="text-center">
            <button type="submit" class="btn big-btn btn-primary px-4 fs-4 my-3" data-umami-event="Sent contact form">Verzenden <i class="fa-regular fa-envelope"></i></button>
        </div>
        <% if (sent) { %>
            <div class="alert alert-success text-center my-3 mx-auto" role="alert" style="max-width: 67%;">
                Bedankt voor uw bericht! We nemen zo snel mogelijk contact met u op.
            </div>
        <% } %>
        <% if (error) { %>
            <div class="alert alert-danger text-center my-3 mx-auto" role="alert" style="max-width: 67%;">
                Fout tijdens het versturen: <%= error %>
            </div>
        <% } %>
    </form>
</div>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<%- include('../includes/footer.ejs') %>