<%- include('../includes/header.ejs') %>
<div class="container mt-4 mb-3 homepage text-center">
    <h1 class="my-5 display-3">Pagina niet gevonden :(</h1>

    <div class="d-flex flex-column align-items-center gap-3">
        <img class="img-fluid rounded" src="https://media.tenor.com/AapKRNOpG6cAAAAM/ohno-meme-monkey-ohno.gif">

        <a class="btn big-btn btn-primary fs-4 mt-4" href="/">
            Ga terug naar de homepagina <i class="fa-solid fa-link"></i>
        </a>
    </div>
</div>
<script>if (umami) { umami.track('Found 404 page') }</script>
<%- include('../includes/footer.ejs') %>