<%- include('../includes/header.ejs') %>
<%
const birth = new Date("2008-12-19");
const today = new Date();

let age = today.getFullYear() - birth.getFullYear();
const hasHadBirthday =
    today.getMonth() > birth.getMonth() ||
    (today.getMonth() === birth.getMonth() && today.getDate() >= birth.getDate());

if (!hasHadBirthday) age--;
%>
<div class="container mt-4">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 class="mb-4 display-5">Over mij</h1>
            <div class="mb-5">
                <p>
                    Hoi! Ik ben Julian Verwoerd, <%= age %> jaar en ik woon in Veenendaal. Ik zit op het mbo als Software
                    Developer
                    en ben al vroeg begonnen met programmeren. Doordat ik autodidact ben heb ik veel dingen zelf
                    geleerd
                    door op onderzoek te gaan en er daarna mee te experimenteren en ze uit te proberen.
                </p>
                <p>
                    Ik ben rustig en introvert, maar kan me goed concentreren op wat ik doe. Vooral back-end en apps
                    vind ik
                    interessant. Hobbymatig maak ik ook vaak kleine game-ideeën. Ik vind het gaaf om te zien hoe
                    iets onder
                    de motorkap werkt en om creatieve oplossingen te bedenken.
                </p>
                <p>
                    Ik kan goed zelfstandig werken, maar ook in een team gaat het prima. Ik ben rustig, creatief en
                    empathisch, dus ik luister graag en help waar ik kan. Ik kijk niet tegen problemen op, ik zie ze
                    juist
                    als uitdagingen. Er is bijna altijd wel een oplossing te vinden en het geeft me energie om die
                    te
                    bedenken.
                </p>
                <p>
                    Naast programmeren heb ik genoeg andere hobby's. Ik game en programmeer graag, rij brommers en
                    sleutel
                    er ook aan. Ook maak ik graag muziek en vind ik auto's erg interessant. Ik bezoek graag
                    autoshows en
                    brommer evenementen en doe leuke dingen met vrienden.
                </p>
                <p>
                    Wat ik later precies wil doen weet ik nog niet, maar het moet iets in de techwereld zijn. Zolang
                    ik kan
                    leren en bouwen, ben ik enthousiast en zit ik op mijn plek.
                </p>
                <p>
                    Voor meer informatie of bij interesse kun je <a href="/contact">hier</a> contact met mij
                    opnemen!
                </p>
            </div>
            <a class="btn big-btn btn-primary fs-4 mb-5" href="/CV Julian.pdf" data-umami-event="Opened CV pdf">Bekijk hier mijn CV <i
                    class="fa-solid fa-link"></i></a>
            </div>
            <div class="col-4 mx-auto align-items-center justify-content-center d-flex">
                <img src="/img/me.jpeg" alt="Foto van mijzelf" class="img-fluid rounded mx-auto d-block mb-5">
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer.ejs') %>